/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/caravel
/dependencies
/mgmt_core_wrapper
/logs
def/user_project_wrapper.def
gds/user_project_wrapper.gds
mag/user_project_wrapper.mag
verilog/dv/cocotb/design_info.yaml
